extends ../layout/index

block content
    div.row.collapse
        div.small-12.medium-6.medium-centered.column.bg-blue.round-md.text-center
            div.row.collapse
                div.small-12.column

                    div.row.bg-red.text-white
                        div.small-12.column
                            div.spacer-sm
                            div.text-sm= PRODUCT.name
                            div.spacer-sm

                div.small-12.column
                    div.spacer-md
                    div.round-md.bg-gray-xlight.pad
                        div.square-md.round-md(
                            style="background-image: url('#{PRODUCT.image}')"
                        )

                    div.spacer-md

                div.small-12.column
                    if PRODUCT.description
                        div.row.bg-gray-xlight
                            div.small-12.column
                                div.spacer-sm
                                div.text-xs= PRODUCT.description
                                div.spacer-sm

                    div.row.bg-gray-dark.text-white
                        div.small-12.column
                            div.spacer-sm
                            div.text-xs &#8364; #{PRODUCT.price}
                            div.spacer-sm
    div.spacer-lg



